<%- include("partials/_header") -%> <%- include("partials/_navigation") -%> <%-
include("partials/_slider") -%>

<!-- Page content -->
<main>
  <div class="container-fluid px-0">
    <div class="mx-auto tm-content-container">
      <div class="row mt-3 pb-3">
        <div class="col-12">
          <div class="mx-auto tm-about-text-container px-3">
            <h2 class="tm-page-title mb-4 tm-text-primary text-center">Add New Project</h2>
            <p class="mb-4">
              Integer sit amet odio id libero tincidunt dignissim in eget arcu.
              Aliquam tristique ut magna sit amet tincidunt. Sed tempor tellus
              nulla, molestie luctus lectus tincidunt id. You are
              <u>not allowed</u> to re-distribute the template ZIP file on any
              template collection website.
            </p>
          </div>
        </div>
      </div>
      <div class="mx-auto pb-3 tm-about-text-container px-3">
        <div class="row">
          <div class="offset-1 col-lg-10 mb-5">
            <form
              method="post"
              action="/project"
              class="tm-contact-form"
              enctype="multipart/form-data"
            >
              <div class="form-group mb-3">
                <input
                  type="text"
                  name="name"
                  class="form-control rounded-0"
                  placeholder="Project Name"
                  required
                />
               </div> 
                <div class="form-group mb-3">
                  <select name="category" class="form-control">
                    <option value="" disabled selected>Select category</option>    
                    <% for(let i = 0; i<categories.length; i++) { %> 
                    <option value="<%= categories[i]._id %>"><%= categories[i].name %> </option>
                    <% } %> 
                    </select>
                </div>
                <div class="form-group mb-3">
                  <select name="client" class="form-control">
                    <option value="" disabled selected>Select client</option>  
                    <% for(let i = 0; i<clients.length; i++) { %> 
                    <option value="<%= clients[i]._id %>"><%= clients[i].name %> </option>
                    <% } %> 
                    </select>
                </div>
              <div class="form-group"></div>
              <div class="form-group mb-3">
                <textarea
                  rows="8"
                  name="description"
                  class="form-control rounded-0"
                  placeholder="Project Description"
                  required
                ></textarea>
              </div>
              <div class="form-group mb-3">
                <input
                  type="file"
                  name="image"
                  class="form-control-file rounded-0"
                />
              </div>
              <div class="form-group mb-0">
                <button
                  type="submit"
                  class="btn btn-primary rounded-0 d-block ml-auto mr-0 tm-btn-animate tm-btn-submit tm-icon-submit"
                >
                  <span>Submit</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include("partials/_footer") -%>
